# editors
.DS_Store
.idea

# node modules
node_modules/

# package managers
package-lock.json

# logs
npm-debug.log
yarn-error.log

# build destinations
dist
demo/dist

# testing utils
test/coverage
reports
